<div class="row justify-content-center pt-3">
	<div class="d-flex flex-column border border-info p-3 rounded">
		<form [formGroup]="grupo">
			<h1>Login</h1>
			<div class="form-group">
				<input type="text" formControlName="correo" placeholder="Ingrese su correo" class="form-control">
      </div>
				<div class="form-group">
					<input type="password" formControlName="contrasena" placeholder="Ingrese su contraseña" class="form-control">
      </div>
					<div class="d-flex justify-content-center">
						<button class="btn btn-primary" [disabled]="grupo.invalid" (click)="login()">Ingresar</button>
					</div>
		</form>
	</div>
</div>