<div class="pt-3 row justify-content-center">
  <form [formGroup]="frmNuevo" class="d-flex flex-column border border-info p-3 rounded">
    <label class="form-group">Nombre
      <input type="text" class="form-control"
          placeholder="Ingrese un nombre"
          formControlName="nombre" autofocus>
    </label>
    <label class="form-group">Apellido
      <input type="text" class="form-control"
          placeholder="Ingrese un apellido"
          formControlName="apellido">
    </label>
    <div class="d-flex justify-content-center">
      <button class="btn btn-info" type="button" #btnGuardar 
      [disabled]="frmNuevo.invalid" (click)="onSubmit()">
        Guardar
      </button>
    </div>
  </form>
</div>